.pio
.cache/
node_modules/
configs/MyBoard
.DS_Store
build/

.*.sw*
compile_commands.json
modules/Custom.cmake
.idea
cmake-*
!.vscode/cmake-kits.json
!.vscode/cmake-variants.json
env.ini

# Container
.devcontainer
*Dockerfile
*docker-compose.yml
www/src_gen/enums.ts
/lib/NeoPico/src/generated/ws2812.pio.h
